.inner {
	position: relative;
}
h3 {
	margin-bottom: 50px;
    color: #a1ccdf;
	font-size: 3.2em;
	font-weight: 600;
}
h3::before {
	content: "";
    display: inline-block;
    width: 5px;
    height: 26px;
    margin-right: 10px;
    background-color: #e5e5e5;
}
.swiper {
	position: static;
}
figure,
figcaption {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
figcaption {
	font-size: 1.8em;
	justify-content: flex-start;
}
figcaption > div:first-child {
	margin-right: 20px;
}
.page-type {
	display: inline-block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	background-color: #a1ccdf;
	color: #fff;
	text-align: center;
}
h4 {
	font-size: 1.3em;
	font-weight: 700;
}
.page-des {
	margin: 40px 0;
}
img {
	width: 600px;
}
.pf-img-app {
	position: absolute;
    bottom: 50px;
    right: 480px;
    width: 100px;
}
dl {
	margin-bottom: 10px;
}
dt {
	width: 74px;
	margin-right: 10px;
	display: inline-block;
}
dd {
	display: inline-block;
}
.view-btn {
	width: 100px;
	height: 30px;
	margin: 20px 10px 0 0;
	line-height: 30px;
	border-radius: 5px;
	background-color: #e5e5e5;
	color: #363636;
	font-size: 0.8em;
	text-align: center;
}
.view-btn:hover {
	background-color: #a1ccdf;
	color: #fff;
	font-weight: 500;
	transition: 0.5s;
}
.swiper-button-next,
.swiper-button-prev {
	top: auto;
	bottom: 160px;
	width: 20px;
	height: 20px;
	color: #767676;
}
.swiper-button-next {
	right: auto;
	left: 110px;
}
.swiper-button-prev {
	left: 90px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
	font-family: "xeicon";
	font-size: 24px;
}
.swiper-button-next::after {
	content: "\e93f";
}
.swiper-button-prev::after {
	content: "\e93c";
}

@media (max-width: 1230px) {
	img,
	.pf-img-app {
		display: none;
	}
	.view-btn:hover {
		background-color: #e5e5e5;
		color: #363636;
		font-weight: 400;
	}
}
@media (max-width: 1080px) {
	.inner {
		padding: 100px 0 160px;
	}
	.swiper-button-next,
	.swiper-button-prev {
		bottom: 100px;
	}
}
@media (max-width: 540px) {
	h3 {
		margin-bottom: 30px;
		font-size: 2.6em;
	}
	.page-des {
		margin: 20px 0;
	}
	figcaption {
		flex-direction: column;
	}
	figcaption > div:first-child {
		margin-bottom: 20px;
	}
	.swiper-button-next {
		left: 20px;
	}
	.swiper-button-prev {
		left: 0;
	}
}