section {
	height: 100%;
	background-color: #a1ccdf;
}
p {
	position: absolute;
	top: 50%;
	left: 50%;
	display: inline-block;
	transform: translate(-50%, -50%);
}
p > span {
	display: inline-block;
}
p > span:first-child {
	display: block;
	color: #fff;
	font-size: 2em;
	font-weight: 600;
}
p > .en {
	color: #fff;
	font-size: 6em;
}

@media (max-width: 1230px) {
	p > .en {
		font-size: 4em;
	}
}